.fh_appform_container .fh_appform_body_area {
    background-color:rgba(255, 255, 255, 1);
}
.fh_appform_container .fh_appform_form_area {
    background-color:rgba(254, 253, 252, 1);
    border:none;
    padding:5px;
}
.fh_appform_container .fh_appform_form_title {
    font-size:20pt;
    font-family:arial;
    color:rgba(3, 2, 2, 1);
    font-weight:bold;
    font-style:normal;
    text-align:center;
}
.fh_appform_container .fh_appform_form_description {
    font-size:14pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-style:italic;
    font-weight:normal;
    text-align:center;
}
.fh_appform_container .fh_appform_page_title {
    font-size:14pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    text-align:center;
    width:100%;
    display:inline-block;
    margin-bottom:5px;
}
.fh_appform_container .fh_appform_page_description {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
}
.fh_appform_container .fh_appform_progress_steps {
    background-color:rgba(255, 255, 255, 1);
    border:none;
    width:100%;
}
.fh_appform_container .fh_appform_progress_steps td {
    text-align:center;
}
.fh_appform_container .fh_appform_progress_steps td .active .page_title {
    text-align:center;
}
.fh_appform_container .fh_appform_progress_steps .page_title {
    padding-left:10px;
    display:none;
}
.fh_appform_container .fh_appform_progress_steps .number {
    padding-top:4px;
}
.fh_appform_container .fh_appform_progress_steps .number_container {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(255, 255, 255, 1);
    border-width:thin;
    border-style:solid;
    border-color:rgba(0, 0, 0, 1);
    display:inline-block;
    border-radius:13px;
    padding-left:10px;
    padding-right:10px;
    margin-top:5px;
    margin-bottom:5px;
}
.fh_appform_container .fh_appform_progress_steps td.active .number_container {
    font-size:12pt;
    font-family:arial;
    color:rgba(255, 254, 254, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(0, 0, 0, 1);
    border-width:thin;
    border-style:solid;
    border-color:rgba(1, 1, 1, 1);
}
.fh_appform_container .fh_appform_section_area {
    background-color:rgba(255, 255, 255, 1);
    margin-bottom:5px;
    border-radius:5px;
    margin-top:5px;
}
.fh_appform_container .fh_appform_section_title {
    font-size:14pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    text-align:center;
}
.fh_appform_container .fh_appform_section_description {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-style:italic;
    font-weight:normal;
    text-align:center;
}
.fh_appform_container .fh_appform_field_area {
    background-color:rgba(255, 255, 255, 1);
    border-width:thin;
    border-style:solid;
    border-color:rgba(2, 2, 2, 1);
    padding:5px;
    border-radius:5px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}
.fh_appform_container .fh_appform_field_instructions {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(255, 255, 255, 1);
    border:none;
    margin-bottom:10px;
    border-radius:5px;
}
.fh_appform_container .fh_appform_field_title {
    font-size:14pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(255, 255, 255, 1);
    display:block;
}
.fh_appform_container .fh_appform_field_input {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(231, 230, 230, 1);
    border-width:thin;
    border-style:solid;
    border-color:rgba(231, 230, 230, 1);
    width:100%;
    border-radius:5px;
    line-height:1.4em;
    padding:5px 0px 5px 5px;
}
.fh_appform_container .fh_appform_field_input .radio {
    margin-right:10px;
}
.fh_appform_container .fh_appform_field_input .checkbox {
    margin-right:10px;
    display:inline;
}
.fh_appform_container .fh_appform_field_input .choice {
    margin-right:10px;
    display:inline;
}
.fh_appform_container .fh_appform_field_error {
    font-size:11pt;
    font-family:arial;
    color:rgba(255, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    background-color:rgba(255, 0, 0, 1);
    border-width:thin;
    border-style:solid;
    border-color:rgba(246, 16, 16, 1);
    padding:5px;
}
.fh_appform_container .fh_appform_field_numbering {
    font-size:11pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:normal;
    font-style:normal;
    display:inline;
    float:left;
    padding-top:5px;
}
.fh_appform_container .fh_appform_field_required:after {
    font-size:8pt;
    font-family:arial;
    color:rgba(255, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    content:"*";
    vertical-align:top;
}
.fh_appform_container .fh_appform_button_bar {
    background-color:rgba(42, 114, 217, 1);
    border:none;
    text-align:center;
}
.fh_appform_container .fh_appform_button_default {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(42, 114, 217, 1);
    border:none;
    border-radius:5px;
    padding:12px 0px 12px 0px;
    margin-top:10px;
}
.fh_appform_container .fh_appform_button_default.fh_appform_two_button {
    width:50%;
}
.fh_appform_container .fh_appform_button_default.fh_appform_three_button {
    width:30%!important;
    margin-right:5px;
}
.fh_appform_container .fh_appform_button_default.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_default.special_button.fh_appform_removeInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_default.special_button.fh_appform_addInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_default_active {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(38, 104, 199, 1);
    border:none;
    border-radius:5px;
    padding:12px 0px 12px 0px;
    margin-top:10px;
}
.fh_appform_container .fh_appform_button_default_active.fh_appform_two_button {
    width:50%;
}
.fh_appform_container .fh_appform_button_default_active.fh_appform_three_button {
    width:33.3%;
}
.fh_appform_container .fh_appform_button_default_active.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_action {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(42, 114, 217, 1);
    border:none;
    border-radius:5px;
    padding:12px 10px 12px 10px!important;
    margin-top:10px;
    margin-right:5px;
}
.fh_appform_container .fh_appform_button_action.fh_appform_two_button {
    width:45%!important;
    margin-right:5px;
    margin-left:9px;
}
.fh_appform_container .fh_appform_button_action.fh_appform_three_button {
    width:30%!important;
    margin-right:5px;
}
.fh_appform_container .fh_appform_button_action.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_action.special_button.fh_appform_removeInputBtn {
    width:45%!important;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_action.special_button.fh_appform_addInputBtn {
    width:45%!important;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_action_active {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(42, 114, 217, 1);
    border:none;
    border-radius:5px;
    padding:12px 0px 12px 0px;
    margin-top:10px;
}
.fh_appform_container .fh_appform_button_action_active.fh_appform_two_button {
    width:50%;
}
.fh_appform_container .fh_appform_button_action_active.fh_appform_three_button {
    width:33.3%;
}
.fh_appform_container .fh_appform_button_action_active.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_cancel {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(252, 3, 3, 1);
    border:none;
    border-radius:5px;
    padding:12px 10px 12px 10px!important;
    margin-top:10px;
    margin-right:5px;
}
.fh_appform_container .fh_appform_button_cancel.fh_appform_two_button {
    width:50%;
}
.fh_appform_container .fh_appform_button_cancel.fh_appform_three_button {
    width:33.3%;
}
.fh_appform_container .fh_appform_button_cancel.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_cancel.special_button.fh_appform_removeInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_cancel.special_button.fh_appform_addInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_cancel_active {
    font-size:12pt;
    font-family:arial;
    color:rgba(0, 0, 0, 1);
    font-weight:bold;
    font-style:normal;
    background-color:rgba(252, 3, 3, 1);
    border:none;
    border-radius:5px;
    padding:12px 0px 12px 0px;
    margin-top:10px;
}
.fh_appform_container .fh_appform_button_cancel_active.fh_appform_two_button {
    width:50%;
}
.fh_appform_container .fh_appform_button_cancel_active.fh_appform_three_button {
    width:33.3%;
}
.fh_appform_container .fh_appform_button_cancel_active.special_button {
    width:100%;
}
.fh_appform_container .fh_appform_button_cancel_active.special_button.fh_appform_removeInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_button_cancel_active.special_button.fh_appform_addInputBtn {
    width:50%;
    margin-top:10px;
    line-height:28px;
}
.fh_appform_container .fh_appform_logo {
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAABACAIAAAA/NwYHAAAYTWlDQ…lmtuQ+Gc/95Y8gn3sTTajgj5accKGe+24/WvK5N9GECv4XGE0OJqYUxeIAAAAASUVORK5CYII=");
    height:64px;
    width:76px;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    display:inline-block;
}
.fh_appform_hidden {
    display:none;
}