/* Phase3 Placeholder styles */

.fh_appform_logo {
    text-align: center;
    background-image: none; /*TODO Needs to be taken out of generated css as a background image. Should be an image tag within a div*/
}

.fh_appform_title {
    text-align: center;
}

.fh_appform_description {
    text-align: center;
}

.fh_appform_field_title {

}

.fh_appform_field_instructions {
    margin-bottom: 10px;
}

.fh_appform_field_input {
    /*background: #ddea04;*/
    width: 100%;
    padding: 6px 0 6px 0;
}

select.fh_appform_field_input {
    background: #ddea04;
}

select.fh_appform_field_input option {
    background: #ddea04;
}

.fh_appform_field_input > .radio, .fh_appform_field_input > .checkbox {
    margin-right:10px;
}

.fh_appform_field_area:first-child {

}

.fh_appform_field_area:last-child { /*TODO Needs to be generated in theme generation. Inherits border data from fh_appform_field_area*/
    border-width: thick;
    border-style: dotted;
    border-color: #b0ce31;
}

.fh_appform_field_area {
    padding: 20px;
    /*margin-top: 5px; TODO My addition for testing. Can remove*/
    padding: 20px;
    /*border-radius: 10px; TODO My addition for testing. Looked nice, might add later.*/
    border-bottom: none;
}

.fh_appform_body {

}

.fh_appform_form {
    padding: 5px;
}

.fh_appform_field_area.fh_appform_field_section_break {
     border:none;
 }

.fh_appform_field_section_break_title {
    font-size: 18pt;
    font-family: arial;
    color: #00FF00;
    font-weight: bold;
    font-style: normal;
}

.fh_appform_field_section_break_description {
    font-size: 12pt;
    font-family: arial;
    color: #A9302A;
    font-weight: normal;
    font-style: normal;
}

.fh_appform_logo {

}

.fh_appform_button_navigation {
    border-radius: 10px;
}

.fh_appform_button_action {
    border-radius: 10px;
}

.fh_appform_button_action.fh_appform_special_button { /*TODO Needs to be added to theme generation - static*/
    width: 100%;
    border-radius: 20px;
    padding: 4px;
    /*font-size: 16px;*/
    margin-top: 10px;
    line-height: 28px;
}

.fh_appform_special_button img {
    min-height: 20px;
}

.fh_appform_button_cancel {

}

.fh_appform_navigation {

}

.fh_appform_header {

}

input[type="text"].fh_appform_field_input {
    width: 100%;
}

textarea.fh_appform_field_input {
    min-width: 100%;
    min-height: 100px;
}

.fh_appform_field_required:first-child:after{ /*TODO Needs to be generated as part of css. Also, the color needs to be selectable.*/
    color: #e32;
    content: ' *';
    display: inline;
}

.fh_appform_error {  /*Needs to be added to the theme generation process.*/
    background-color: #ea172b;
    font-size: 18pt;
    font-family: georgia;
    color: #1519ff;
    font-weight: bold;
    font-style: normal;
    border-width: thick;
    border-style: dotted;
    border-color: #fc0312;
}

.fh_appform_errorMsg {
    margin-top: 10px;
}

.segmented-controller.fh_appform_navigation li > a { /*TODO This style has to be generated for the template app header styling. Inherits its properties from fh_appform_button_navigation*/
    background-color: #14d822;
    font-size: 11pt;
    font-family: georgia;
    color: #FF0000;
    font-weight: bold;
    font-style: normal;
}

.segmented-controller.fh_appform_navigation li > a:active { /*TODO Active state buttons needs to be added to css generation. This is for the header in the Appform-Template-App*/
    background-color: blue;
}

.fh_appform_button_action:active { /*TODO Each button needs a change of background color and possibly a shadow.*/
    background: green;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
}


.fh_appform_button_cancel:active { /*TODO Each button needs a change of background color and possibly a shadow.*/
    background: green;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
}

.fh_appform_button_navigation:active { /*TODO Each button needs a change of background color and possibly a shadow.*/
    background: green;
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
}

.hidden {
    display: none;
}

.fh_appform_action_bar {
    padding: 18px 20px 18px 20px;
}

.fh_appform_action_bar button.fh_appform_two_button {
    width: 50%;
}

.fh_appform_action_bar button.fh_appform_three_button {
    width: 33.3%;
}

.fh_appform_page_title { /*TODO page title could be separate or use fh_appform_title*/
    font-size: 18pt;
    font-family: arial;
    color: #123F00;
    font-weight: bold;
    font-style: normal;
    text-align:center;
}

.fh_appform_page_description { /*TODO page description could be separate or use fh_appform_description*/
    font-size: 12pt;
    font-family: arial;
    color: #123F00;
    font-weight: bold;
    font-style: normal;
    text-align:center;
}

/* Steps TODO Theme definition for the app Probably a rename also to the fh_appform namespace*/
.fh_appform_progress_steps {
    width: 100%;
}

.fh_appform_progress_wrapper {
    padding-top: 20px;
    padding-bottom: 10px;
}

.fh_appform_progress_steps td {
    text-align: center;
}

.fh_appform_progress_steps .number_container {
    border: 1px solid #c3c3c3;
    display: inline-block;
    height: 24px;
    width: 24px;
    text-align: center;
    border-radius: 13px;
}

.fh_appform_progress_steps .active .number_container {
    background: black;
    color: #fff;
    border: 1px solid #000;
}

.fh_appform_progress_steps .page_title {
    padding-left: 10px;
    font-weight: bold;
}

.fh_appform_progress_steps .number {
    padding-top: 4px;
}

.fh_appform_progress_steps td .page_title {
    display: none;
}

.fh_appform_progress_steps td.active .page_title {
    display: inline;
}


/*Field Title margin stuff label*/
label.fh_appform_field_title { display: block; margin-bottom: 10px; }