html, body {
  background: #eee;
  min-height: 101%;
  padding-top: 46px;
}

.wufoo li {
  width: 100% !important;
}

.sigField {
  height: 40px;
}

.sigField-content { 
  position: absolute; 
  bottom: 0; 
  left: 0;
}

.cap_sig_btn {
  position: relative;
  bottom: 6px;
}

.apibtn {
  position: relative;
  top: 3px;
}

#fh_wufoo_content {
  padding-top: 20px;
}

#fh_wufoo_form_list, #fh_wufoo_drafts_list, #fh_wufoo_pending_list {
  width: 80%;
  max-width: 640px;
  text-align: center;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 13px;
  display: none;
  list-style: none;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 0 20px 0;
  background: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}

#fh_wufoo_form_list h2, #fh_wufoo_drafts_list h2, #fh_wufoo_pending_list h2 {
  margin: 0;
  padding: 0;
  background: #dedede;
  height: 40px;
  line-height: 40px;
}

#fh_wufoo_form_list li, #fh_wufoo_drafts_list li, #fh_wufoo_pending_list li {
  margin-bottom: 5px;
}

#fh_wufoo_form_list ul, #fh_wufoo_drafts_list ul, #fh_wufoo_pending_list ul {
  list-style: none;
}

#fh_wufoo_header_wrapper {
  position: fixed;
  z-index: 1000000;
  top: 0;
  right: 0;
  left: 0;
}

#fh_wufoo_header {
  border-bottom: 3px solid #000;
  border-top: 3px solid #000;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #999;
  margin: 0;
  list-style: none;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background: #252525; /* Old browsers */
  background: -moz-linear-gradient(top, #252525 0%, #181818 50%, #000000 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#252525), color-stop(50%,#181818), color-stop(50%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #252525 0%,#181818 50%,#000000 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #252525 0%,#181818 50%,#000000 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #252525 0%,#181818 50%,#000000 50%); /* IE10+ */
  background: linear-gradient(top, #252525 0%,#181818 50%,#000000 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#252525', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#fh_wufoo_header li {
  float: left;
  width: 33%;
  text-align: center;
}

#fh_wufoo_header li:hover, #fh_wufoo_header li.active {
  -moz-border-radius: .6em;
  -webkit-border-radius: .6em;
  border-radius: .6em;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.14);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#23FFFFFF,endColorstr=#23FFFFFF);
  zoom: 1;
  color: #fff;
  cursor: pointer;
}

#fh_wufoo_header li .count {
  display: inline-block;
  margin-left: 3px;
  text-align: center;
  width: 17px;
  height: 17px;
  padding: 3px;
  color: white;
  text-shadow: none;
  font-weight: bold;
  -moz-box-shadow: 0 1px 2px #999;
  -webkit-box-shadow: 0 1px 2px #999;
  box-shadow: 0 1px 2px #999;
  border: 0.15em solid white;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
   background-color: #72B0D4;
  line-height: 16px;
  background-position: 0 0 !important;
  background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #72B0D4),color-stop(1, #4B88B6));
  background-image: -webkit-linear-gradient(top, #72B0D4, #4B88B6);
  background-image: linear-gradient(top, #72B0D4, #4B88B6);
  background-image: -moz-linear-gradient(top, #72B0D4, #4B88B6);
  background-image: -o-linear-gradient(top, #72B0D4, #4B88B6);
  background-image: -ms-linear-gradient(top, #72B0D4, #4B88B6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#72b0d4', EndColorStr='#4b88b6');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#72b0d4', EndColorStr='#4b88b6')";
}

.hidden, #fh_wufoo_header .count.hidden {
  display: none;
}

#fh_loading {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#fh_loading_wrapper {
  font-size: 13px;
  width: 16px;
  display: block;
  text-align: center;
  padding: 5px 5px 2px 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(153, 153, 153, .2);
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

#container .confirm{
  padding-top: 40px;
}

.removeThumb {
  display:none;
}

.completePic {
  display: inline-block;
  background-color: lightgreen;
  padding-left: 10px;
  border-radius: 10px;
  height: 60px;
}
.completePic .fhcam, .completePic .fhpics {
  display:none;
}

.completePic .imageThumb{
  position: relative;
  bottom: 55px;
  right: 30px;
  float: right;
  height: 50px;
  width: 37.5px;
}

.completePic .removeThumb {
  position: relative;
  top: -50px;
  bottom: 40px;
  float:right;
  right: 60px;
  display:block;
}

.fh.fhcam {
  border-bottom: 1px dotted #000;
}

input[type=text] {
  height: 25px;
}

#app_version {
  padding-top: 10px;
  text-align: center;
  font-size: 10px;
  font-family: Verdana;
}

.fh_wufoo_alert {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  color: #fff;
  padding: 7px 10px 7px 10px;
  border: 1px solid #000;
}

.fh_wufoo_alert.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.fh_wufoo_alert.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}




/* Phase2 styles */
/* TODO: Cleanup above */

input, textarea, select { display: block; }