html, body {
  background: #eee;
}


.wufoo li {
  width: 100% !important;
}

#fh_wufoo_form_list {
  width: 80%;
  max-width: 640px;
  text-align: center;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  display: none;
  list-style: none;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 0 20px 0;
  background: white;
  border: 1px solid #CCC;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  -o-box-shadow: rgba(0,0,0,0.2) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
}

#fh_wufoo_form_list h2 {
  margin: 0;
  padding: 0;
  background: #dedede;
  height: 40px;
  line-height: 40px;
}

#fh_wufoo_form_list li {
  margin-bottom: 5px;
}

.fh_wufoo_formlist_btn {
  color: blue;
  display: block;
  margin: 10px 0 10px 0;
}
