/* Phase2 styles */

ul {
    list-style: none;
}

#fh_appform_header.fh_appform_button_bar {
    padding: 8px 5px;
}

#fh_appform_show_deviceId {
    width:50%;
    float:right;
}

#fh_appform_header.fh_appform_button_bar .navigation_list {
    /* position: absolute; */

    /* top: 0px; */
    display: block;
    /* border: 1px solid black; */
    border-radius: 5px;
    overflow: hidden;
}

#fh_appform_header.fh_appform_button_bar .navigation_list .nav_item {
    display: inline-block;

    padding: 0px;
    width: 25%;
    height: 100%;
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
}

#fh_appform_header.fh_appform_button_bar .navigation_list .nav_item_last {
    display: inline-block;

    padding: 0px;
    width: 25%;
    height: 100%;
    text-align: center;
    margin-top: 0px;
    overflow: hidden;
}

#fh_appform_header.fh_appform_button_bar .navigation_list .nav_item a{
    padding: 7px 1px 7px 1px;

    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    border-radius: 0px;
    font-size: 0.8em;
}

#fh_appform_header.fh_appform_button_bar .navigation_list .nav_item_last a{
    padding: 7px 1px 7px 1px;

    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
    /* color: inherit; */
    border-radius: 0px;
    /* border: 1px solid black; */
    /* border-top: none; */
    /* border-bottom: none; */
    /*     border-right: none; */
    font-size: 0.8em;
}


.fh_appform_container .fh_appform_navigation li{
    border-top:none;
    border-bottom:none;
    border-right:none;
    border-bottom:none;
}

.fh_appform_container .fh_appform_navigation li.active{
    border-top:none;
    border-bottom:none;
    border-right:none;
}


.fh_appform_container .fh_appform_field_input.pending_submission{
    width: 85%;
    margin: 10px 0px 10px 25px;
}

.segmented-controller.fh_appform_button_navigation{
    padding: 0px;
}

* {
    padding: 0;
    margin: 0;
}



#fh_logs, #fh_appform_content, #fh_appform_form_list, #fh_appform_settings {
    /*background: #fff; fh_appform_body replaces this. Displaying the background for the list of forms.*/
    width: 97%;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
}

#fh_logs {
    overflow: auto;
}

#fh_appform_drafts .list, #fh_appform_pending .list {
    -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow:    0px 1px 0px rgba(255, 255, 255, 0.75);
    box-shadow:         0px 1px 0px rgba(255, 255, 255, 0.75);
}

#fh_appform_content {
    padding: 0;
}

#fh_appform_sent select {
    padding: 5px;
}

.sentSaveMaxLabel {
    font-size: 14px;
    font-weight: bold;
}

.fh_action_bar {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    /*border-radius: 0 0 5px 5px;*/
    padding: 18px 20px 18px 20px;
    /*text-align: right;*/
}

.fh_action_bar button {
    -webkit-appearance: button;
}

.fh_action_bar button.two_button {
    width: 50%;
}

.fh_action_bar button.three_button {
    width: 33.3%;
}

select {
    width: 100%;
    line-height: 1.4em;/* Line height does not make much of a difference. Possibly can be taken out*/
}

textarea {
    min-height: 100px;
}

.special_button img {
    min-height: 20px;
}

/* Form List */
.form_list {
    padding: 20px;
    list-style: none;
}

.form_list li button { /*Form list specific --&gt; Needs to be customised by theme*/
    width: 100%;
    /*font-size: 125%;*/
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Disable Android &quot;Orange&quot; selection */
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#fh_appform_header .count {
    float: right;
    display: inline-block; padding-top: 4px; padding-bottom: 4px; padding-left: 9px; padding-right: 9px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

.segmented-controller li &gt; a {
                                  padding: 5px 8px;
                                  line-height: 21px;
                                  color: inherit;
                              }

#fh_appform_drafts .second_button {
    top: -42px;
}

.list.inset .first_button {
    right: 107px;
}

.list.inset .second_button {
    position: relative;
    float: right;
    display: inline-block;
    top: -35px;
    padding: 10px;
    vertical-align: middle;
}

.list.inset .first_button {
    position: relative;
    float: right;
    display: inline-block;
    top: -86px;
    right: 15px;
    padding: 10px;
}

#fh_appform_pending .list.inset .ts,
#fh_appform_drafts .list.inset .ts,
#fh_appform_sent .list.inset .ts {
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

#fh_appform_pending .list.inset .title,
#fh_appform_drafts .list.inset .title,
#fh_appform_sent .list.inset .title {
    font-size: 12px;
    font-style: italic;
}

.pending_submission {
    cursor: pointer;
}

.loading {
    float: right;
    background: url(/static/a/2Uon91RShpwUP9_MYj10q087/studio/31/img/loading.gif);
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
}

.fetching {
    background: #ddd;
}

.fetch_error {
    background: #E75252;
}

.fetching .loading {
    display: inherit;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 29%;
}

.fetched .loading, .fetch_error .loading {
    display: none;
}

.list li {
    padding: 20px 10px 20px 10px;
}

.pending_review_type {
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    padding: 2px 0 2px 10px;
    color: #fff;
    font-size: 13px;
    background-color: #E71E1E;
    background-image: -webkit-linear-gradient(top, #E71E1E 0,#C71A1A 100%);
    background-image: linear-gradient(to bottom, #E71E1E 0, #C71A1A 100%);
    border: 1px solid #B51A1A;
}

.pending_review_type.network, .pending_review_type.offline, .pending_review_type.timeout{
    background-color: #F89406;;
    background-image: -webkit-linear-gradient(top, #F89406 0,#D89406 100%);
    background-image: linear-gradient(to bottom, #F89406 0, #D89406 100%);
}

.pending_review_list li.pending_submission ,.pending_waiting_list li.pending_submission {
    padding-top: 34px;
}

.pending_waiting_list .submit-all, .sent_list .dismiss-all {
    position: inherit;
    top: inherit;
    right: inherit;
    width: 100%;
    margin: 0;
    padding: 10px 12px
    /*font-size: 12px;*/
}

/* Loading Spinner styling */
div.loading_spinner {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

div.loading_spinner div {
    width: 12%;
    height: 26%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.loading_spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}
div.loading_spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.loading_spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.loading_spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.loading_spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.loading_spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.loading_spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.loading_spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.loading_spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.loading_spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.loading_spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.loading_spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

@-webkit-keyframes fade {
    from {opacity: 1;}
    to {opacity: 0.25;}
}


/*Loading container is related to the LoadingView Backbone View. Not included in the appform-js-sdk.*/
div.loading_container {
    display: inline-block;
    padding: 1.5em 1.5em 1.25em;
    background: rgba(0,0,0,0.8);
    -webkit-border-radius: 1em;
    position: fixed;
    top: 30%;
    left: 10%;
    right: 10%;
    z-index: 101;
    background: rgba(0,0,0,0.2);
}

div.loading_container div.loading_spinner {
    width: 60px;
    height: 60px;
}

div.loading_container div.loading_spinner div { background: #fff; }

#loading_overlay {
    background: #000;
    opacity: 0.7;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.loading_spinner {
    position: absolute;
    left: 50%;
    margin-left: -30px;
}

.loading_container .message {
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.loading_container .progress {
    margin-top: 5px;
    height: 16px;
    border: 1px solid #fff;
    padding: 2px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.loading_container .progress .bar {
    width: 1%;
    background: #fff;
    height: 11px;
    padding-top: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*END OVERLAY LOADING VIEW*/

.dismiss-all { /*Part of*/
    width: 100%;
}

/*TODO AlertView is an appform-template base view. Should be theme customized? */
.fh_appform_alert, .fh_appform_alert_offline {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    color: #fff;
    padding: 7px 10px 7px 10px;
    border: 1px solid #000;
}

.fh_appform_alert.error , .fh_appform_alert.warn ,.fh_appform_alert_offline.error{
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.fh_appform_alert.warn {
    background-color: #F89406;
}

.fh_appform_alert.success {
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#app_version { /*TODO Font should be customised for the version in the bottom?*/
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
    font-family: Verdana;
}



#fh_appform_alerts_area span.small {
    max-width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

#fh_appform_alerts_area progress,          /* All HTML5 progress enabled browsers */
#fh_appform_alerts_area progress[role]     /* polyfill */
{

    /* Turns off styling - not usually needed, but good to know. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /* gets rid of default border in Firefox and Opera. */
    border: none;

    /* Needs to be in here for Safari polyfill so background images work as expected. */
    background-size: auto;

    padding-left : 1em;
    float : right;
    min-width : 60%;

}

/* Polyfill */
#fh_appform_alerts_area progress[role]:after {
    background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
#fh_appform_alerts_area progress[role] strong {
    display: none;
}

/*END ALERT*/


@media only screen and (orientation : portrait) {
    li span.name {
        list-style-position: inside;
        max-width: 40%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}
@media only screen and (orientation : landscape) {
    li span.name {
        list-style-position: inside;
        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

/* Ratchet overrides */
.toggle {
    float:right;
    top:5px;
    right:10px;
}

.input-row label {
    margin-bottom: 0;
    font-size: 14px;
}

.hidden, #fh_appform_header .count.hidden {
    display: none;
}

#fh_appform_banner {
    background-color: #1eb0e9;
    background-image: -webkit-linear-gradient(top, #1eb0e9 0, #109adc 100%);
    background-image: linear-gradient(to bottom, #1eb0e9 0, #109adc 100%);
    border-bottom: 1px solid #0e5895;
}

#fh_appform_banner:before,
#fh_appform_banner:after {
    border: 0;
}


/*Form submission progress bar.*/
.progress_bar_container {
    height: 1em;
    position: relative;
    float:right;
    width : 70%;
    background-color:gray;
}

.progress_bar.complete {
    height: 100%;
    background-color:green;
    z-index: 2;
    display:block;
}

/*Settigns related to the templated-app*/
.settings img ,.about img {
    position: relative;
    width: 16px;
    height: 16px;
    bottom: 12px;
}


a.about {
    margin-left:1em;
    float: left;
}
a.settings{
    margin-right:1em;
    float: right;
}
#fh_appform_banner ul.list {
    font: 7px &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;
}
#fh_appform_banner ul.list span {
    width: 60%;
}
#fh_appform_banner ul.list span:first-child {
    font-style: italic;
    width: 30%;
}
